name = "FreeBird"
uuid = "b4936512-85e8-430f-a91d-7f510ed448a2"
authors = ["Ray Yang <mingrui.yang@outlook.com> and contributors"]
version = "0.0.1"

[deps]
AtomBase = "ccf6c0ac-cd45-4eaf-bc3d-e8176fb87b3b"
AtomsBase = "a963bdd2-2df7-4f54-a1ee-49d51e6be12a"
AtomsIO = "1692102d-eeb4-4df9-807b-c9517f998d44"
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
DocumenterTools = "35a29f4d-8980-5a13-9543-d66fff28ecb8"
ExtXYZ = "352459e4-ddd7-4360-8937-99dcb397b478"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Setfield = "efcf1570-3423-57d1-acb7-fd33fddbac46"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
UnitfulAtomic = "a7773ee8-282e-5fa2-be4e-bd808c38a91a"

[compat]
AtomBase = "0.1"
BenchmarkTools = "1"
AtomsIO = "0.2"
DocumenterTools = "0.1"
Unitful = "1"
DataFrames = "1"
UnitfulAtomic = "1"
CSV = "0.10"
AtomsBase = "0.3"
Parameters = "0.12"
Documenter = "1"
ExtXYZ = "0.1"
Setfield = "1"
Distributions = "0.25"
StaticArrays = "1"
Reexport = "1"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
